body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.game-container {
    display: inline-block;
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
    margin: 10px;
    display: inline-block;
    border-radius: 50%;
	max-width: 100%;
    height: auto;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.instructions {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
